apiVersion: apps/v1
kind: Deployment
metadata:
  name: www-dylanmtaylor-com
  namespace: dylanmtaylor
  labels:
    app: www-dylanmtaylor-com
spec:
  replicas: 1
  selector:
    matchLabels:
      app: www-dylanmtaylor-com
  template:
    metadata:
      labels:
        app: www-dylanmtaylor-com
    spec:
      containers:
      - name: nginx-php-fpm
        image: richarvey/nginx-php-fpm:3.1.6
        ports:
        - containerPort: 80
          name: http
        envFrom:
        - configMapRef:
            name: www-dylanmtaylor-com-config
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"
