apiVersion: v1
kind: Service
metadata:
  name: www-dylanmtaylor-com
  namespace: dylanmtaylor
  labels:
    app: www-dylanmtaylor-com
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: www-dylanmtaylor-com
