apiVersion: v1
kind: Service
metadata:
  name: git-dylanmtaylor-com
  namespace: dylanmtaylor
  labels:
    app: git-dylanmtaylor-com
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: git-dylanmtaylor-com
