apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Create required namespaces first
  - namespaces.yaml

  # Infrastructure components
  - cert-manager.yaml
  - oci-native-ingress.yaml
  - ingress-nginx.yaml
  - monitoring.yaml
