apiVersion: apps/v1
kind: Deployment
metadata:
  name: files-dylanmtaylor-com
  namespace: dylanmtaylor
  labels:
    app: files-dylanmtaylor-com
spec:
  replicas: 1
  selector:
    matchLabels:
      app: files-dylanmtaylor-com
  template:
    metadata:
      labels:
        app: files-dylanmtaylor-com
    spec:
      containers:
      - name: nginx
        image: nginx:alpine
        ports:
        - containerPort: 80
          name: http
        envFrom:
        - configMapRef:
            name: files-dylanmtaylor-com-config
        volumeMounts:
        - name: www-files
          mountPath: /usr/share/nginx/html
          readOnly: true
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "256Mi"
            cpu: "200m"
      volumes:
      - name: www-files
        persistentVolumeClaim:
          claimName: files-oci-pvc
